<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
</head>
<body>
    <!--El valor es el nombre de la tabla-->
    <body>
        <!--El valor es el nombre de la tabla-->
        <h1>Editar Personas</h1>
        <form method="POST" action="">
            <label>Codigo: </label>
            <input type="number" name="cod_persona" value="{{ personasp[0] }}" disabled><br>
            <label>Nombre: </label>
                <input type="text" required name="Nombre_persona" value="{{ personasp [1]}}" placeholder="Ingresar el Nombre"><br><br>
                <br> <label>Apellido: </label> <!-- el place holder es para texto en el fondo -->
                <input type="text" required name="Apellido_persona" value="{{ personasp [2]}}" placeholder="Ingresar el Apellido"><br><br>
                <br> <label>Nombre de usuario: </label>
                <input type="text" required name="User_name"  value="{{ personasp [3]}}" placeholder="nombre de usuario"><br><br>
                <br> <label>Correo: </label>
                <input type="text" required name="Email" value="{{ personasp [4]}}" placeholder="Ingresar su dirección de correo"><br><br>
                <br> <label>Celular: </label>
                <input type="number" required name="Telefono" value="{{ personasp [5]}}" placeholder="Ingresar su numero de contacto"><br><br>
                <br> <label>Dirección: </label>
                <input type="text" required name="Dirección" value="{{ personasp [6]}}" placeholder="Ingresar la dirección"><br><br>
                <br> <label>Contraseña: </label>
                <input type="password" name="contraseña_persona" value="" placeholder="Nueva Contraseña"><br><br>
                <br> <button type="submit">Guardar</button>
        </form>

    

</body>
</html_persona>
