<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/Lista_canciones.css')}}">

    <title>Lista Canciones</title>
</head>
<body>
    <main >
        <h1 id="titulo">Bienvendo {{session ['usuario'] }}</h1>
        <h3>Lista de Canciones</h3>
    </main>
<table>
    <tr class="soy">
        <td> Codigo </td>
        <td> Titulo </td>
        <td> Artista </td>
        <td> Genero </td>   
        <td> Porecio </td> <!--anecdota con Daniel 🙃-->
        <td> Fecha de lanzamiento </td>
        <td> Portada </td>
    </tr>
    <tbody>
    <!--Las llaves se usan para poder usar python en html-->

    {% for canciones_def in canciones %}
    
        <tr>
            <td>{{ canciones_def.hamet   }}</td>
            <td>{{ canciones_def.titulo  }}</td>
            <td>{{ canciones_def.artista }}</td>
            <td>{{ canciones_def.genero  }}</td>
            <td>{{ canciones_def.precio  }}</td>
            <td>{{ canciones_def.Fecha   }}</td>
            <td><img src="data:image/jpeg;base64,{canciones.img}" alt="no sale imagen" width="100"></td>
            <td>
                <button><a href="{{url_for('editar_song',   id=canciones_def.hamet )}}">Editar</a></button>
                <button><a href="{{url_for('eliminar_song', id=canciones_def.hamet )}}">Eliminar</a></button>
            </td>
        </tr>
    </tr>

    {% endfor %}
</table>

</tbody>
<button><a href="/Logout" id="exit">Exit for live</a></button>
</body>
</html>